.drawer {
  background-color: rgba(0, 170, 255, 0.614);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.drawerClose {
  background-color: rgba(0, 170, 255, 0.614);
  display: inline;
  height: auto;
  
}
